/*


COLORS STYLEGUIDE:
white text #e2e3ed
header/footer dark grey #202322
header divider medium grey #3a3a3a
form/social icons/mission light forest green #527158
hero brown #5a4e3d
features dk brown #282118
review dk green #2a423a
form input light grey #9d9ea4

NOTES:
>
> Mobile-first design, breakpoints at 768px (tablet) and 1200px (desktop).
> One CSS file for all pages on site (Home, About, FAQ)
> Organization is as follows and is repeated as needed after media queries:

  MEDIA TYPE
      GENERAL STYLES
      HEADER & FOOTER
      HOMEPAGE
          HERO
          ASIDE/FORM
          FEATURES
          REVIEWS
      ABOUT PAGE
          MISSION
          MAP
          CONTACT
      FAQ PAGE
          FAQ

*/
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* || Base Styles */
html {
  font-size: 10px;
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #e2e3ed;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3, h4 {
  font-size: 1.8rem;
}

p {
  line-height: 1.3;
  font-weight: normal;
}

ol, ul {}

a {
  color: #e2e3ed;
  text-decoration: none;
}

a:visited {
  color: #d4bbac;
  /* What does :link pseudoclass change about a? If I omit a:visited, the addition of :link to <a> causes visited links to display purple, but if I leave the :link pseudoclass out of the selector for <a>, there is no displayed changes to visited links.
  Partial answer: a:link specifically selects <a> tags that have an href. (Which makes me ask, what is an <a> tag without an href?)*/
}

a:hover, a:focus {
  color: #b9a485;
  text-decoration: underline;
}

a:active {
  color: #97b985;
}

img {
  max-width: 100%;
  height: auto;
}

/* || SITE-WIDE COMPONENTS */
/* HEADER */
.header {
  background-color: #202322;
}

.header__wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.header__logo {
  width: clamp(10rem, 60%, 30rem);
  margin: 1em auto;
}

.header__divider {
  border-top: solid 1px #3a3a3a;
}

.header__nav {
  margin: 1em 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.header__nav-ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}

.header__nav-item+.header__nav-item {
  margin-left: 5rem;
}

/* FOOTER */
.footer {
  background-color: #202322;
}

.connect {
  margin: 0 auto;
  padding-top: 4rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact, .social {
  padding-bottom: 4rem;
}

.contact address {
  font-style: normal;
}

.connect__heading {
  padding-bottom: 1.7rem;
}

.social__flex-container {
  width: 20rem;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.social__icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #527158;
  width: 4rem;
  /*
  Combines with line-height of <i> child to make equal dimensions for circle */
  border-radius: 2rem;
}

.social__icon i {
  font-size: 1.8rem;
  line-height: 4rem;
  /*
  Pushes icon to center of div and ensures div min-height of 4rem. */
}

.copyright {
  padding-bottom: 1rem;
}

/* || HOMEPAGE (mobile) */
/* Hero section (mobile) */
.hero {
  height: 50rem;
  background: darkgreen url(../img/hero.jpg) no-repeat center;
  background-size: cover;
  /* Necessary to center inline-block child. */
  text-align: center;
}

.hero__heading {
  display: inline-block;
  margin-top: 5rem;
  text-align: left;
}

/* Signup section (mobile) */
.signup {
  background: #527158;
}

.signup__wrapper {
  /* Keeps section looking nice at intermediate browser sizes. */
  max-width: 45rem;
  margin: 0 auto;
  padding-bottom: 5rem;


  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.signup__copy, .signup__form {
  margin-top: 2.4rem;
}

.signup__copy p {
  margin-top: 1.2rem;
}

.signup__heading {
/* unnecessary class? */
}

.signup__form input {
  width: 100%;
}

.signup__form ::placeholder {
  color: #9d9ea4;
  font-style: italic;
  font-size: 1.6rem;
}

.signup__form input[type=email] {
  box-sizing: border-box;
  padding: 1.6rem;
  margin: 1.8rem 0;
  font-size: 1.6rem;
  color: goldenrod;
}

.signup__form input[type=button] {
  padding: 1.5rem 0;
  border: none;
  background-color: #2a423a;
  color: #e2e3ed;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* Features section (mobile) */
.features-section {
  background: #282118 url(../img/campsite.jpg) center no-repeat;
  background-size: cover;
}

.features-section__wrapper {
  margin: 0 auto;
  padding: 4.5rem 0 6rem;
  max-width: 55rem;
}

.features-section__heading {
  /* TODO: Unnecessary class? */
}

.features-section__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.features-section__item {
  width: 20rem;
}

.features-section__item i {
  font-size: 5.8rem;
  padding: 4.3rem 0;
}

.features-section__item-description {
  /* TODO: Unnecessary class? */
}

/* Review section (mobile) */
.review-section {
  background-color: #2a423a;
}

.review-section__flex-container {
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 45rem;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.review-section__heading {
  padding-bottom: 2.7rem;
}

.review-section__img, .review__heading {
  padding-bottom: 1.8rem;
}

/* || FAQ (mobile) */
/* || ABOUT (mobile) */
.column-to-row {
  /* REMOVE placeholder in CSS and HTML */
}

.flex-container {
  /* REMOVE placeholder in CSS and HTML */
}

.text-center {
  text-align: center;
}

.width-almost {
  width: 90%;
  /* This percentage will vary after breakpoints. */
}

.width-full {
  width: 100%;
}

/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 768px) {

/* TABLET STYLES */
  h1 {
    font-size: 4.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3, h4 {
    font-size: 2.4rem;
  }

  .width-almost {
    width: 83.3%;
  }

/* Header (tablet) */
  .header__wrapper {
    width: 83.3%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .header__logo {
    width: clamp(10rem, 35%, 30rem);
    margin: 2em 0;
  }
  .header__divider {
    display: none;
  }

/* Footer (tablet) */
  .connect {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding-top: 9rem;
  }
  .contact, .social {
    width: 20rem;
    padding-bottom: 9rem;
  }
  .connect__heading {
    padding-bottom: 3.6rem;
  }
  address p {
    line-height: 1.6;
  }

/* || HOMEPAGE (tablet) */

/* Hero section (tablet) */
  .hero {
    height: 60rem;
  }
  .hero__heading {
    margin-top: 9rem;
  }

/* Signup section (tablet) */
  .signup__wrapper {
    max-width: 80rem;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .signup__copy {
    width: 40%;
  }
  .signup__form {
    width: 45%;
  }
  .signup__copy, .signup__form {
    margin-top: 4.6rem;
  }
  .signup__copy p {
    margin-top: 1.8rem;
  }
  .signup__form input[type=email] {
    padding: 1.1rem;
  }
  .signup__form input[type=button] {
    padding: 1rem 0;
  }

/* Features section (tablet) */
  .features-section__wrapper {
    padding: 9.4rem 0 9rem;
    max-width: none;
  }
  .features-section__list {
    width: 81%;
    max-width: 79.9rem;
    height: auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .features-section__item i {
    padding-bottom: 2.3rem;
  }

/* Reviews section (tablet) */
.review-section__flex-container {
  padding: 9rem 0;
  max-width: none;
  flex-flow: row wrap;
  justify-content: space-between;
}
.review-section__heading {
  width: 78%;
}
.review-section__img, .review {
  width: 49%;
}
.review-section__img {
  padding: 0;
}

  /* || FAQ (tablet) */
  /* || ABOUT (tablet) */
}

@media only screen and (min-width: 1200px) {
  /* DESKTOP STYLES */
  h1 {
    font-size: 6rem;
  }
  h3, h4 {
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
  .width-almost {
    width: 80%;
  }

/* Header (desktop) */
  .header__wrapper {
    width: 80%;
  }
/* Footer (desktop) */
  .connect {
    width: 70%;
    justify-content: space-between;
  }
  .connect__heading {
    padding-bottom: 3rem;
  }

  /* || HOMEPAGE (desktop) */
  .hero__heading {
    margin-top: 4rem;
  }
  /* .signup__form {
    width: 40%;
  } */
  .signup__form input[type=email] {
    padding: 1.4rem;
  }
  .signup__form input[type=button] {
    padding: 1.1rem 0;
    font-size: 2.4rem;
  }

  .features-section__heading {
    margin-bottom: 3rem;
  }
  .features-section__item i {
    padding-top: 6rem;
    font-size: 7.2rem;
  }

  .review-section__heading {
    padding-bottom: 9rem;
  }
  .review-section__img, .review {
    width: 47.5%;
  }

  /* || FAQ (desktop) */
  /* || ABOUT (desktop) */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
